body {
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-right: auto;
  margin-left: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.main--border {
  border-top: 1px solid #ececec;
}

.link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.link--policy {
  text-decoration: underline;
  color: #2196f3;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  padding-bottom: 94px;
}

.no-padding {
  padding-top: 0px;
  padding-bottom: 0px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.section {
  font-style: normal;
}

.section__title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.section__text {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.section__text--position {
  text-align: center;
}

.logo {
  color: #212121;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;
}

.logo--accent {
  color: #2196f3;
}

.logo--color {
  color: var(--primary-bg-color);
}

.menu__item {
  margin-right: 50px;
}

.menu__link {
  padding-top: 24px;
  padding-bottom: 29px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #212121;
}

.menu__link:hover, .menu__link:focus {
  color: #2196f3;
}

.menu__link-current {
  position: relative;
  color: #2196f3;
}

.menu__link-current::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.contacts-list {
  margin-left: auto;
}

.contacts-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 24px;
  padding-bottom: 31px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__item:first-child {
  margin-right: 30px;
}

.contacts-list__item:hover, .contacts-list__item:focus {
  color: #2196f3;
}

.contacts-list__icon {
  fill: currentColor;
  margin-right: 10px;
}

.button {
  display: inline-block;
  text-align: center;
  background-color: #2196f3;
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  border-color: #2196f3;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
  font-size: 16px;
  line-height: 1.87;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
}

.button:focus, .button:hover {
  background-color: #ffffff;
  color: #2196f3;
}

.button--center {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button--positon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 12px;
}

.button__icon-send {
  fill: #ffffff;
  margin-left: 10px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:focus .button__icon-send,
.button:hover .button__icon-send {
  fill: #2196f3;
}

.filters {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filters__btn-list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio__card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 34px;
}

.filters__button {
  background-color: #f5f4fa;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 8px 22px;
  margin-right: 8px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filters__item:not(:last-child) {
  margin-right: 8px;
}

.filters__button:hover, .filters__button:focus {
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
}

.card {
  width: calc((100% - 2 * 30px) / 3);
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
}

.card:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card:not(:nth-child(3n)) {
  margin-right: 30px;
}

.card:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.card__info {
  padding: 20px 24px;
}

.card__name {
  color: #212121;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
}

.card__overlay {
  position: relative;
  overflow: hidden;
}

.card__overlay-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* height: 100%; */
  background-color: rgba(33, 150, 243, 0.9);
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 63px 24px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.card__link:hover .card__overlay-text,
.card__link:focus .card__overlay-text {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.footer {
  background-color: #2f303a;
  color: #ffffff;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-top: 70px;
  padding-bottom: 60px;
}

.footer .container {
  padding-top: 0px;
  padding-bottom: 0px;
}

.information {
  font-size: 14px;
}

.information__adress {
  line-height: 1.71;
  font-style: normal;
  color: var(--white-text-color);
  margin-top: 20px;
  margin-bottom: 9px;
}

.information__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.information__link:hover, .information__link:focus {
  color: #ffffff;
}

.join {
  margin-top: 12px;
  margin-left: 70px;
}

.join__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__form-subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 10px;
  margin-left: 70px;
}

.social-network {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.social-network__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-network__icon {
  fill: #afb1b8;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-network__item:not(:last-child) {
  margin-right: 10px;
}

.social-network__link:hover, .social-network__link:focus {
  background-color: #2196f3;
}

.social-network__link:hover .social-network__icon,
.social-network__link:focus .social-network__icon {
  fill: #ffffff;
}

.social-network__link--bgc-color {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-network__icon--color {
  fill: #ffffff;
}

.form-subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.form-subscription__input {
  width: 358px;
  height: 50px;
  outline: none;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  font-size: 16px;
  color: #ffffff;
}

.form-subscription__input:focus {
  border-color: white;
}

.form-subscription__input ::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-subscription__input :-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-subscription__input ::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-subscription__input ::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-subscription__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
/*# sourceMappingURL=portfolio.css.map */