.clients {
	&__card {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 170px;
		height: 90px;
		border: 1px solid #afb1b8;
		border-radius: 4px;
		transition-property: border;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		&:hover,
		&:focus {
			border: 1px solid $accent;
			cursor: pointer;
		}
		&:not(:last-child) {
			margin-right: 30px;
		}
	}
	&__icon {
		fill: $color-icon-our-clients;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	}
	&__card:hover .clients__icon,
	&__card:focus .clients__icon {
		fill: $accent;
	}
}
