.contacts-list {
	& {
		margin-left: auto;
	}
	&__item {
		display: flex;
		align-items: center;
		color: $color-secondary-text;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		padding-top: 24px;
		padding-bottom: 31px;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		&:first-child {
			margin-right: 30px;
		}
		&:hover,
		&:focus {
			color: $accent;
		}
	}
	&__icon {
		fill: currentColor;
		margin-right: 10px;
	}
}
