.form-subscription {
	display: flex;
	align-items: flex-end;
	&__input {
		width: 358px;
		height: 50px;
		outline: none;
		padding-left: 16px;
		padding-right: 16px;
		border-radius: 4px;
		border: 1px solid rgba(255, 255, 255, 0.3);
		background-color: transparent;

		font-size: 16px;
		color: $white;

		&:focus {
			border-color: white;
		}

		::placeholder {
			font-size: 16px;
			line-height: 1.25;
			letter-spacing: 0.03em;

			color: rgba(255, 255, 255, 0.6);
		}
	}
	&__title {
		margin-top: 0;
		margin-bottom: 20px;
		font-style: normal;
		font-weight: 700;
		font-size: 14px;
		line-height: 1.14;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: #ffffff;
	}
}
